
/* reset */
.nopadding {
	padding: 0 !important;
}
.mb10 {
	margin-bottom: 10px;
}
.mb30 {
	margin-bottom: 30px;
}
/* reset */

.header-calc {
  	position: relative;
  	padding: 1em;
  	background: #009a44;
  	text-align: center;
}
.header-calc h1 {
	font-size: 20px !important;
  	color: #FFFFFF;
  	font-weight: 400;
  	margin-bottom: 0 !important;
}
span.logo-calc {
	position: absolute;
	width: 183px;
	height: 69px;
	top: 5px;
  	right: 5px;
	background:url("../../images/allianz_logo_white.jpg") no-repeat center;
	/*background: purple;*/
}
.description .content-calc {
	width: 100%;
	padding: 20px;
}
.ta-left {
	text-align: left !important;
}
.content-calc {
  	color: #666666;
  	font-weight: 400;
  	line-height: 22px;
}
.content-calc .note {
	margin-top: 30px;
	font-size: 13px;
}
.content-calc .input-perhitungan {
	border: 0;
  	box-shadow: none;
  	border-bottom: 1px solid #DFDFDF;
}
.input-perhitungan:focus {
	border-color: #eee !important;
   	outline: 0; 
    -webkit-box-shadow: none !important; 
     		box-shadow: none !important;
}
.content-calc span {
	margin: 0 10px 0 0;
	font-weight: bold;
	font-size: 12px;
}
.content-calc label {
	font-weight: normal !important;
}
.content-calc .btn {
	  height: 40px;
}


/* ----- Media queries ----- */


@media (max-width: 1024px) {


}

@media (max-width: 768px) {

 	.header-calc {
    	
    }

}

@media (max-width: 640px) {

    .header-calc {
  		padding: 1em;
	}
	.description .content-calc {
		  padding: 20px 10px;
	}

@media (max-width: 480px) {
	.header-calc {
		padding: 1em;
	}
	.logo-calc {
		display: none;
	}
	.content-calc span {
		  font-size: 11px;
	}
   
}