.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.container h5{
  margin: -10px 0 -3px 0;
}
.container .nav-sticky h5{
  margin: -15px 0 -3px 0;
}
.modal-title,
.modal-body {
  text-align: left;
  font-weight: bold;
  font-size: 18px;
}
.modal-body {
  padding-top: 0;
  font-size: 0.8em;
}
.modal-body h2 {
  font-size: 30px;
  margin-top: 0;
  padding-top: 0;
}
.modal-body ol {
  padding: 0 20px;
}
.modal-body ol > li {
  padding-bottom: 30px;
}
.modal-body.cus-body ol > li{
  padding-bottom: 0px;
  font-weight: normal;
}
.modal-body p {
  font-weight: normal;
  color: #666;
}
.modal-body form {
  background: #eee;
  margin-top: 20px;
  padding: 20px;
}
.modal-body form h4 {
  font-size: 1.2em;
  font-weight: bold;
  border-top: 1px solid #cdcdcd;
  padding-top: 20px;
  margin-bottom: 20px;
}
.modal-body form .btn {
  background: #003781;
  color: #fff;
  width: 200px;
}
.modal-body form .btn:hover {
  background: #004db4;
}
strong {
  font-weight: bold;
}
.boxes-view > .header .main-banner img {
  width: 100%;
}
.boxes-view > .header .content {
  padding: 20px;
  color: #fff;
}
.boxes-view > .header .content h3 {
  font-size: 1.7em;
}
.boxes-view > .header .content ul {
  padding: 0;
}
.boxes-view > .header .content li {
  padding-bottom: 5px;
  list-style: none;
}
.boxes-view > .header .content li a {
  padding-left: 15px;
  background: url(../images/li-arrow.png) 0 center no-repeat;
  color: #fff;
  font-size: 1.1em;
}
.boxes-view > .header .content li a:hover {
  text-decoration: underline;
}
.boxes-view > .heading {
  border-bottom: 1px solid #e6e6e6;
  /*margin-bottom: 20px;*/
  margin-bottom: 5px;
}
.boxes-view > .heading .hotline {
  display: block;
  color: #666;
  font-size: 13px;
  margin-bottom: 20px;
}
.boxes-view > .heading h1 a {
  color: #003781;
}
.boxes-view > .heading h1 a:hover {
  color: #0058ce;
}
.boxes-view #quicklinks form {
  width: 250px;
  margin: 0 auto;
}
.boxes-view #quicklinks .input-group {
  display: block;
  margin-bottom: 20px;
}
.boxes-view #quicklinks .input-group input[type="text"] {
  width: 250px;
  padding: 8px 10px;
  border: none;
}
.boxes-view #quicklinks .input-group input[type="submit"] {
  border: none;
  background: #004db4;
  padding: 5px 20px;
  color: #fff;
}
.boxes-view #quicklinks .input-group input[type="submit"]:hover {
  background: #0062e7;
}
.boxes-view #quicklinks .tab-content ul {
  padding: 0 20px;
}
.boxes-view #quicklinks .tab-content ul.nav {
  padding: 0;
}
.boxes-view #quicklinks .tab-content ul.nav li {
  list-style: none;
  padding-bottom: 1px;
}
.boxes-view #quicklinks .tab-content ul.nav li a{
  display: block;
  color: #fff;
  background: transparent url('../images/ic_buttons.png') -263px -206px no-repeat;
  padding: 5px 10px 5px 30px;
}
#quicklinks .tab-content ul.cusLi li{
  display: block;
  color: #fff;
  background: transparent url('../images/ic_buttons.png') -263px -206px no-repeat;
  padding: 5px 10px 5px 30px;
}
#quicklinks .tab-content ul.cusLi li a{
  color: #fff;
}
#quicklinks .tab-content ul.cusLi li a{
  background: none !important;
  padding: 0px !important;
}
.boxes-view #quicklinks .tab-content ul.nav li a:hover {
  background-color: #004db4;
  text-decoration: none;
}
.boxes-view .item #quicklinks {
  width: 304px;
  height: 290px;
  float: none;
}
.boxes-view .item #quicklinks h3 {
  color: #fff;
}
.boxes-view .square-blue {
  background-image: url(../images/square-blue.png);
}
.boxes-view .square-blue-dark {
  background-image: url(../images/square-blue-dark.png);
}
.boxes-view .square-green {
  background-image: url(../images/square-green.png);
}
.boxes-view .square-red {
  background-image: url(../images/square-red.png);
}
.boxes-view .square-purple {
  background-image: url(../images/square-purple.png);
}
.boxes-view .square-yellow {
  background-image: url(../images/square-yellow.png);
}
.boxes-view .square-orange {
  background-image: url(../images/square-orange.png);
}

.boxes-view .items-container {
  text-align: center;
  width: 320px;
  margin: 0 auto 10px;
}
.boxes-view .items-container .item {
  width: 306px;
  background: #fff;
  display: inline-block;
  border: 1px solid #fff;
  margin: 10px;
  text-align: left;
  overflow: hidden;
}
.boxes-view .items-container .item .heading
{
padding: 10px 15px;
  height: 55px;

}
.boxes-view .items-container .item .description {
  padding: 10px 15px;
  /*height: 55px;*/
}
.boxes-view .items-container .item .description {
  font-size: 14px;
  line-height: 20px;
  /*color: #666;*/
  color: #000;
}
.boxes-view .items-container .item .description p:first-child {
  margin-top: 0;
}
.boxes-view .items-container .item h2, .boxes-view .items-container .item span.title_news {
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 1em;
  font-weight: bold;
  display: inline-block;
  max-width: 200px;
  line-height: 1.2em;
}
.boxes-view .items-container .item h3 {
  font-weight: bold;
  margin-top: 10px;
  color: #003781;
}
.boxes-view .items-container .item .heading .btn-group {
  display: inline-block;
  text-align: right;
  float: right;
  /* visibility: visible; */
}
.boxes-view .items-container .item .heading .btn-group a {
  display: inline-block;
  font-size: 20px;
}
.boxes-view .items-container .item .heading .more {
  font-size: 12px;
  font-weight: bold;
  float: right;
  margin-top: 4px;
}
.boxes-view .items-container .item .heading .more:hover {
  color: #000;
}
.boxes-view .items-container .item .thumbnail {
  position: relative;
  color: #fff;
  display: block;
}
.boxes-view .items-container .item .thumbnail ul {
  position: absolute;
  bottom: 30px;
  left: 24px;
  background-position: right bottom;
  background-repeat: no-repeat;
  margin: 0;
  padding: 20px 15px;
  width: 260px;
}
.boxes-view .items-container .item .thumbnail ul li {
  list-style-type: square;
  display: list-item;
  list-style-position: inside;
  padding-left: 10px;
  font-size: 13px;
  padding-bottom: 5px;
}
.boxes-view .items-container .item .thumbnail ul li.title {
  list-style: none;
  font-weight: bold;
}
.boxes-view .items-container .item .thumbnail ul li.desc {
  list-style: none;
}
.boxes-view .items-container .item .thumbnail.thumbnail-popup {
  background: url(../images/loop.png) center center no-repeat;
}
.boxes-view .items-container .item .thumbnail.thumbnail-popup img {
  opacity: 0.5;
}
.boxes-view .items-container .item:hover {
  /*border-color: #ccc;*/
}
.boxes-view .items-container .item:hover .description {
  /*color: #333;*/
  color: #000;
}
.boxes-view .items-container#product-sub .item .thumbnail ul {
  left: auto;
  bottom: auto;
  right: 20px;
  top: 20px;
  width: 180px;
}
#map-shortcut {
  margin-top: 0;
  background: #003781;
  overflow: hidden;
}
#map-shortcut h3 {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  padding: 20px 20px 0;
}
#map-shortcut .description {
  padding: 15px;
  color: #fff;
  font-size: .8em;
  line-height: 1.5em;
}
#map-shortcut ul {
  color: #fff;
  padding: 0 10px;
  height: 100%;
}
#map-shortcut li {
  list-style-type: square;
  color: #fff;
  padding: 2px;
  display: inline-block;
}
#map-shortcut li a {
  color: #fff;
  background: #00214e;
  padding: 10px;
  line-height: 40px;
  font-size: 13px;
}
#map-shortcut li a:hover, #map-shortcut li a.active {
  background: #004db4;
}
.boxes-view h2  a{
	color: #000;
}
.boxes-view .item#item-unggul{
  height: 450px;
}
.boxes-view .item#item-detail{
  height: 920px;
}
.boxes-view .item#item-brosur{
  height: 450px;
}
.boxes-view .item#item-claim {
  height: 450px;
}
.boxes-view .item#item-faq {
  height: 450px;
}
.boxes-view .item#item-left {
  height: 500px;
}

.boxes-view .item#item-left-high {
  height: 1020px;
}

.boxes-view .item#item-center-small {
  height: 500px;
}
.boxes-view .item#item-center {
  height: 1020px;
}

#item-contact {
  height: 1026px;
}
.boxes-view .item#item-right {
  height: 500px;
}

.boxes-view .item#item-right-high {
  height: 1020px;
}

.boxes-view .item#item-faq .square-green {
  background-color: #007a53;
}
.boxes-view .item#item-faq .square-red {
  background-color: #ce0037;
}
.boxes-view .item#item-faq .square-purple {
  background-color: #a51890;
}
.boxes-view .item#item-faq .square-yellow {
  background-color: #f2a900;
}
.boxes-view .item#item-faq .square-blue {
  background-color: #0077c8;
}
.boxes-view .item#item-faq .question {
  padding: 20px;
  font-size: 30px;
  color: #fff;
}
.boxes-view .item .flex-control-nav {
  bottom: 10px;
}
.boxes-view .item .flex-direction-nav {
  display: none !important;
}
.boxes-view .item .slides p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 1em;
}
.boxes-view .item#item-contact h4 {
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
.boxes-view .item#item-contact .contact-us-list {
  margin: 0;
  padding: 0;
}
.boxes-view .item#item-contact .contact-us-list li {
  list-style: none;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 18px 0 15px;
}
.boxes-view .item#item-contact .contact-us-list a {
  color: #003781;
  display: block;
  padding-left: 30px;
  margin-top: -27px;
}
.boxes-view .item#item-contact .contact-us-list a span {
  display: block;
  font-size: 12px;
  line-height: 14px;
  color: #666;
}

.boxes-view .item#item-contact .contact-us-list a:hover {
  color: #0062e7;
}
.boxes-view .item#item-contact .contact-us-list a:hover span {
  color: #000;
}
.boxes-view .item#item-contact .contact-us-list i {
  width: 30px;
  font-size: 20px;
  text-align: center;
}
@media (min-width: 620px) {
  .boxes-view > .heading .hotline {
    float: right;
    display: inline-block;
    margin-bottom: 0;
	text-align: right;
    /* margin-top: 24px; */
  }
  .boxes-view > .heading h1 {
    float: left;
  }
  .boxes-view .items-container {
    width: 660px;
  }
  
}

@media only screen and (max-width: 768px) and (min-width: 620px){
  .boxes-view .items-container .item_visimisi{
    width: 647px !important;
  }
  .breadcrumb2{
    font-size: 20px;
    max-width: 100%;
  }
  #quicklinks{
    margin-top: 10px;
  }
  #quicklinks.quicklinksNews{
    margin-top: 60px;
  }
  .boxes-view .items-container .item .ipNewsList .description{
    width: 100%;
  }
  .combo_year{
    margin: 0px;
  }
  #membername{
    display: none;
  }
  
  div.float_tujuan_finansial{
    width: 550px;
  }
  div.radio_tujuan_finansial{
    width: 15px;
  }
  
}

.breadcrumb {
	/*font-size: 2em;*/
	font-size: 24px;
	font-weight:bold;
}
.breadcrumb a {
	color: #414141;
        cursor: default;
}

@media (min-width: 960px) {
  .modal-body form {
    padding: 20px 120px;
  }
  .modal-body form .form-group {
    overflow: hidden;
  }
  .modal-body form label {
    float: left;
    width: 150px;
  }
  .modal-body form .form-control {
    width: 400px;
  }
  .modal-body form .btn {
    margin-left: 150px;
  }
  .boxes-view > .header {
    margin-bottom: 20px;
  }
  .boxes-view > .header .main-banner {
    width: 635px;
    height: 280px;
    overflow: hidden;
    display: block;
    float: left;
  }
  .boxes-view > .header .main-banner img {
    width: 100%;
  }
  .boxes-view > .header .square {
    float: right;
    width: 310px;
    height: 280px;
    background-color: transparent;
    /*background-position: right bottom;*/
  }
  .boxes-view > .header .content {
    padding: 20px 30px;
    color: #fff;
  }
  .boxes-view > .header .content ul {
    padding: 0;
  }
  .boxes-view > .header .content li {
    padding-bottom: 5px;
    list-style: none;
  }
  .boxes-view > .header .content li a {
    padding-left: 25px;
    /*background: url(../images/arrow_oval.png) 0 center no-repeat;*/
    background: transparent url('../images/ic_buttons.png') -263px -206px no-repeat;
    color: #fff;
  }
  .boxes-view > .header .content li a:hover {
    text-decoration: underline;
  }
  .boxes-view .items-container {
    width: auto;
    margin: 0 -10px 10px;
  }
  .boxes-view .items-container .item .heading .btn-group {
    /* visibility: hidden; */
  }
  .boxes-view .items-container .item .thumbnail.thumbnail-popup img {
    opacity: 1;
  }
  .boxes-view .items-container .item:hover .heading .btn-group {
    visibility: visible;
  }
  .boxes-view .items-container .item:hover .heading .btn-group a {
    opacity: 0.6;
  }
  .boxes-view .items-container .item:hover .heading .btn-group a:hover {
    opacity: 1;
  }
  .boxes-view .items-container .item:hover .thumbnail.thumbnail-popup img {
    opacity: 0.5;
  }
  #map-shortcut {
    float: right;
    width: 292px;
    height: 270px;
    /*margin-top: 32px;*/
    margin-top: 8px;  
  }
   #map-shortcut li a {
    font-size: 13px;
  }
  
  /* Sticky */
  
  .nav-sticky {  
    position: fixed;  
	top: 0;
    z-index: 100;  
    border-top: 0;  
    -webkit-backface-visibility: hidden;  
}  

.pagenav {
	width: 960px;
        /*show all widget
	height: 80px;*/
        height: 100px;
	z-index: 200; 
	background: #F5F6F6;
}
 /* Sticky */
 
}

/* Added by Akbar Fachriansyah */

@media only screen and (max-width : 639px){
    
.description iframe {
    width: 100%;  
    height: auto;
}
.guide-btn .btn-width, .button-cart .btn-width{
    width: 100% !important;
  }
}
@media only screen and (max-width : 480px){
  /*SETTING LOGO 125*/
  .fixbox .place-bg .notepadKiri{width: 65%;float: left;}
}
@media only screen and (max-width : 1024px){
  .mw960, footer.contentinfo .container.mw960,.container.mw960{
    width: auto !important;
    max-width: inherit !important;
    min-width: inherit !important;
  }
}
@media only screen and (max-width : 640px){

	/* Sticky */
  
  .nav-sticky {  
	width: 281px;
    position: fixed;  
	top: 0;
    z-index: 100;  
    border-top: 0;  
	-webkit-backface-visibility: hidden;	
}  

.pagenav {
	width: 281px; 
    /*width: 302px;*/
	height: 80px;
	z-index: 200; 
	background: #F5F6F6;
}
 /* Sticky */
    

.description table {
    width: 100% !important;
}
  .wishlist-content h1{
    width: 90%;
  }
  /*SETTING LOGO 125*/
  .place-bg .notepadKiri{width: 70%;float: left;}
}

@media only screen and (max-width : 800px) and (min-width: 480px) {

	/* Sticky */
  
  .nav-sticky {  
	width: 94% !important;
    position: fixed;  
	top: 0;
    z-index: 100;  
    border-top: 0;  
	-webkit-backface-visibility: hidden;	
}  

.pagenav {
	width: 100%; 
    /*width: 302px;*/
	height: 80px;
	z-index: 200; 
	background: #F5F6F6;
}
 /* Sticky */
    
.description table {
    width: 100% !important;
}    

}
a.fbshare, a.twshare{
	display: none !important;
}
.community-btn a.fbshare, .community-btn a.twshare{
	display: inline-block !important;
}

.clearfix .share{
  padding-top: 5px;
}
.stButton .sharethis{
  background-image: url("/website/static/images/shareThis/16x16.png") !important;
}
#brosur{
  display: none !important;
}
.cusTable table tr td.vertical{
  vertical-align: top !important;
  width: 20px;
}
.banner-ajfc{
  display: block;
  margin: 0 auto;
}
.spanRed{
  color: red;
}
.fundtype{
  color: #000;
  height: 42px;
}
.lines{
    background: url("/website/static/images/lines_active.png") no-repeat;
    height: 25px;
    width: 25px;
    background-position: 5px;
    background-color: #003781;
}
.lines div{
   /*background: url("/website/static/images/lines_active.png");*/
}
.title-chart{
  margin-top: 10px;
  background: none repeat scroll 0 0 #e6e6e6;
  font-size: 14px;
  height: 47px;
  padding: 13px 15px;
  border: 1px solid #000;
}
.cus_select select{
  background: transparent;
  width: 268px;
  padding: 5px;
  padding-right: 45px;
  -webkit-padding-end: 55px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 40px;
  -webkit-appearance: none;
}
.cus_select select option{
  background-color: linear-gradient(to bottom, white 0%, gainsboro 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.cus_select{
  width: 240px;
  height: 40px;
  overflow: hidden;
  background: url("/website/static/images/icon-arrow-down_2.png") no-repeat right, linear-gradient(to bottom, white 0%, gainsboro 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #000;
  float:left;
  color: #000;
  margin-left: 40px;
}
.linkInv{
  float: left;
}
.select-btn.blue-color.gradien-grey.btn{
  float:left;
  height: 40px !important;
  line-height: 40px;
  margin-left: 10px;
  padding: 0px 25px 0 0 !important;
  /*
   *background: url("/website/static/images/ic_buttons.png") no-repeat scroll -475px 10px #e6e6e6;
  */
  background: linear-gradient(to bottom, white 0%, gainsboro 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #cacaca;
    color: #333333 !important;
  color:#000;
  display: inline-block;
  vertical-align: middle;
}

.select-btn.blue-color.gradien-grey.btn .icon-panah{
  background: url("/website/static/images/ic_buttons.png") no-repeat scroll -475px 10px;
  min-width: 30px;
  min-height: 40px;
  display: inline-block;
}

.select-btn.blue-color.gradien-grey.btn > span:not(.icon-panah)
{
  display: inline-block;
  vertical-align: middle;
  margin-top: -32px;
}

.select-btn.blue-color.gradien-grey.btn:hover,.select-btn.blue-color.gradien-grey.btn:focus{
  color: #000;
}

.mw960{
  width: 960px !important;
}
.mw960 .primary{
  font-size: 14px !important;
}

.main.noPaddingTop{
  padding: 0px;
}

.title-box-berita{
  color: #4b4b4b;
  font-size: 18px;
  font-weight: bold;
  margin: 10px auto;
}

.box-berita{
  background-color: white;
  width: 635px;
  min-height: 310px;
  height: auto;
  max-width: 100%;
  padding: 5px 15px;
  font-size: 14px;
}

.text-bold{
  font-weight: bold;
}

.box-berita .icon-panah{
  background: url("/website/static/images/ic_buttons.png") no-repeat scroll -475px 10px;
  min-width: 30px;
  min-height: 40px;
  display: inline-block;
}
.box-berita .selengkapnya
{
    display: inline-block;
    margin-top: -32px;
    vertical-align: middle;
    margin-left: -10px;
}
.liBerita{
  margin-bottom: 10px;
}
.cusError .error{
  float: left;
}
.pagenavBerita #accordion-container{position: relative;}
.row.cusSoal{
  padding: 0 25px;
  margin: 0;
}

/*SETTING LOGO 125*/
.notepadKiri{width: 150px;float: left;}
.notepadKanan{width: 70px;float: right;margin-right: 20px;margin-top: 17px;}

/*tabs-accordion.css*/
.accordion-header{font-size:16px;font-weight:700;background:#003781;padding:5px 13px;border:1px solid #003781;cursor:pointer;color:#fff}.active-header{background:url(/website/static/images/menu_toggle_up.png) right 50% no-repeat #003781}.inactive-header{background:url(/website/static/images/menu_toggle_down.png) right 50% no-repeat #003781}.accordion-content{display:none}
