.section-left-40 {
	float: left;
	width: 40%;
	padding-left: 5px;
	padding-right: 5px;
}

.section-right-60 {
	float: right;
	width: 60%;
	padding-left: 5px;
	padding-right: 5px;
}

.section-left-60 {
	float: left;
	width: 60%;
	padding-left: 5px;
	padding-right: 5px;
}

.section-right-40 {
	float: right;
	width: 40%;
	padding-left: 5px;
	padding-right: 5px;
}

.section-left-30 {
	float: left;
	width: 30%;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 10px;
}

.section-mid-30 {
	float: left;
	width: 30%;
	margin-left: 40px;
	padding-left: 5px;
	padding-right: 10px;
	margin-bottom: 10px;
}

.section-right-30 {
	float: right;
	width: 30%;
	padding-left: 5px;
	padding-right: 15px;
	margin-bottom: 10px;
}

@media only screen and (max-width : 640px) {
	.section-left-40 {
		width: 100%;
	}
	
	.section-right-60 {
		width: 100%;
	}
	
	.section-left-60 {
		width: 100%;
	}
	
	.section-right-40 {
		width: 100%;
	}
	
	.section-left-30 {
		width: 100%;
	}
	
	.section-mid-30 {
		width: 100%;
		margin-left: 0px;
	}
	
	.section-right-30 {
		width: 100%;
	}
}