$color_blue: #003781;
$color_blue_light: #1f77be;
$color_orange: #f5832d;
$color_green: #12a95a;
$color_grey: #858a90;
$color_grey_dark: #656565;
$color_grey_light: #e8eaea;
$color_satan: #666;
$color_maroon: #a31c3d;
$color_red: #ee2037;
$color_purple: #6d5ba7;

$color_base: #f5f6f6;

$color_primary: $color_blue;

$color_twitter: #55acee;
$color_facebook: #3b5998;
