.form_cont{
	width: 100%;
	float: left;
	margin: 30px 0;
}

.form_cont h1{
	color: #666666;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid #CCCCCC;
	padding: 15px 0;
	margin-bottom: 15px;
}

.stepform{
	border-bottom: 3px solid #CCCCCC;
	padding-bottom: 20px;
	display: none;
}

.form_cont h2{
	color: #666666;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

.form_cont h3{
	color: #666666;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.stepform table td{
	font-size: 14px;
	color: #666666;
	vertical-align: middle;
	padding-bottom: 10px;

}
.stepform table td input[type="text"]{
	width: 90%;
	float: right;
	padding: 5px 10px;
	background: #CCCCCC;
	border: 0 none;
	font-size: 14px;
	outline: 0;
	margin-bottom: 10px;
	text-align:right;
}

.submit_button {
	font-size: 16px;
	padding: 10px 20px;
	border: 1px solid #666666;
	background: #FFFFFF;
	outline: none;
}
.bg_grey{
  background: #e5e5e5;
}

.hide{display: none;}
.showform, hr{display: block;}


.wiz{
	width: 100%;
	float: left;
	margin: 10px 0;
	margin-bottom: 30px;
	position: relative;
	height: 80px;
}
.bar_wiz{
	width: 100%;
	background: #003da5;
	height: 10px;
	position: absolute;
	z-index: 0;
	float: left;
	top: 17px;
}

.wiz ul{
	position: absolute;
	z-index: 1;

}

.wiz ul,
.wiz li{
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
}
.wiz li a{
	font-size: 18px;
	float: left;
	font-weight: bold;
	margin:0 10px;
	padding: 10px 15px;
	background: #CCCCCC;
	border: 1px solid #999999;
	color: #999999;

	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.wiz li.cur a{
	
	background: #003da5;
	border: 1px solid #003da5;
	color: #FFFFFF;
}

.tag-center {
margin-top: 15px;
}
