.main_wrap{
  width: 100%;
  float: left;
  margin: 30px 0;
}

.homebanner{
  width: 100%;
  height: 500px;
  float: left;
 
}

.header_page{
  width: 100%;
  padding: 20px;
  float: left;
  margin-bottom: 20px;
  text-align: left;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
}

.banner_img{
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
    
}

.header_img{
width: 100%;
background: url(/banner_health.jpg) no-repeat center top;
background-attachment: scroll;
background-size: cover;
}

.banner_portal{
    background: url(../images/banner.jpg) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner_future{
 /* background:url(../images/banner_future.jpg)  no-repeat center top;*/ 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner_edu{
  background:url(../images/banner_edu.jpg)  no-repeat center top; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner_fund{
  background:url(../images/banner-fund.jpg)  no-repeat center top; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner_health{
  background:url(../images/banner_health.jpg)  no-repeat center top; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner_pension{
  background:url(../images/banner_pension.jpg)  no-repeat center top; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.box_banner{
  width: 300px;
  margin-top: 50px;
  float: left;
}

.box_banner_big{
  width: 400px;
  margin-top: 0;
  float: left;
  margin-bottom:20px;
}

.desc_page{
  width: 500px;
  margin-top: 0;
  float: right;
  color: #666666;
}

.desc_page h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.desc_page ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
}

.desc_page li {
	list-style-type: disc;
	font-size: 14px;
	padding: 10px;
	margin-left: 20px;
	border-bottom: 1px dotted #CCCCCC;
}


.desc_page p{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 22px;
}

.textbanner{
  width: 100%;
  padding: 20px;
  color: #FFFFFF;
  float: left;
  font-family: 'Open Sans', sans-serif;
}

.textbanner h1{
  font-size: 26px;
  font-weight: 700;
}

.textbanner p{
  font-size: 14px;
  font-weight: 400;
}

.textbanner h3{
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 20px;
}

label {
  display: inline-block;
  margin-bottom: 3px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
}

.edge_textbanner{
    width: 100%;
    height: 30px;
    float: left;
}

.edge_textbanner a {
background: transparent url(../images/icons.png) -360px -119px no-repeat;
padding: 3px 0 5px 28px;
color: #FFFFFF;
font-size: 14px;
margin-left: 20px;
}

.box_choose{
  width: 100%;
  float: left;
  margin: 10px 0;
}

.box_choose ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.box_choose li{
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.box_choose li a{
  width: 50%;
  padding: 5%;
  float: left;
  color: #FFFFFF;
  text-align: left;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  background: #658d1b;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.bg_green{  background: #64a70b;}
.bg_edu{  background: #cc8a00;}
.bg_pension{  background: #8b4720;}
.bg_health{  background: #a50034;}
.bg_fund{  background: #003da5;}
.bg_future{  background: #850aa0;}
.bg_guideme{  background: #707372;}

.edge_green{background: url(../images/edge-green.png) no-repeat top right;}
.edge_future{
  background: url(../images/edge-purple.png) no-repeat top right;
}
.edge_health{
  background: url(../images/edge-red.png) no-repeat top right;
}
.edge_edu{
  background: url(../images/edge-brown.png) no-repeat top right;
}
.edge_fund{
  background: url(../images/edge-blue.png) no-repeat top right;
}
.edge_pension{
  background: url(../images/edge-brown-2.png) no-repeat top right;
}


.textbanner input[type="text"]{
  background: transparent;
  border: 0 none;
  border-bottom: 1px solid #FFFFFF;
  outline: none;
  color: #FFFFFF;
  font-size: 14px;
  width: 120px;
  margin-left: 5px;
}

.left{float: left;}
.right{float: right;}

.box_cat{
  width: 100%;
  float: left;
}

.box_c{
  width: 50%;
  float: left;

  height: 200px;
  overflow: hidden;
}

.box_c_img{
  width: 50%;
  height: 200px;
  overflow: hidden;
}
.box_c_img img{
  width: 120%;
}
.box_c_text {
  width: 50%;
  padding:3% 5%;
  text-align: left;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}

.box_c_text h2{
  font-size: 16px;
  font-weight: 700;
}

.box_c_text p{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.box_c_text a{
  color: #FFFFFF;
  font-size: 12px;
}

.box_c_text a:hover{
  color: #FFFFFF;
  opacity: 0.5;
  font-size: 12px;
}

.bg_1{background: #00539b;}
.bg_2{background: #bb8d0a;}
.bg_3{background: #c60651;}
.bg_4{background: #78288b;}

/*future bg*/
.future_bg_1{background: #9f218b;}
.future_bg_2{background: #eb539e;}
.future_bg_3{background: #54075b;}
.future_bg_4{background: #78288b;}

/*education bg*/
.edu_bg_1{background: #8b4720;}
.edu_bg_2{background: #f2a900;}
.edu_bg_3{background: #603d20;}
.edu_bg_4{background: #a07400;}

/*fund bg*/
.fund_bg_1{background: #0077c8;}
.fund_bg_2{background: #00a9e0;}
.fund_bg_3{background: #002f6c;}
.fund_bg_4{background: #003da5;}

/*health bg*/
.health_bg_1{background: #ce0037;}
.health_bg_2{background: #f9423a;}
.health_bg_3{background: #862633;}
.health_bg_4{background: #a50034;}

/*pension bg*/
.pension_bg_1{background: #e35205;}
.pension_bg_2{background: #ff8200;}
.pension_bg_3{background: #603d20;}
.pension_bg_4{background: #8b4720;}



.title_section{
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #666666;
  font-size: 18px;
  font-weight: 700;
  color: #666666;

  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
}

.catbox{
  width: 30%;
  display: inline-block;
  margin: 15px 0;
  margin-right: 29px;
  overflow: hidden;


  -moz-box-shadow:  2px 0px 6px #acaeaf;
  -webkit-box-shadow: 2px 0px 6px #acaeaf;
  box-shadow: 2px 0px 6px #acaeaf;
}

.catbox a img{
  text-align: center;
}

.catbox:hover{
  opacity: 0.7
}

.catbox a h2{
  text-align: center;
  padding: 10px 0;
  color: #FFFFFF;
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.catbox h2 a{
  text-align: center;
  padding: 10px 0;
  color: #FFFFFF;
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  display:block;
}

.lastone{
  float: right;
  margin:15px 0;
}

.bread{
  float: left;
  color: #666666;
  font-size: 12px;
  margin-bottom: 20px;
}

.listarticle{
  width: 100%;
  float: left;
}

.listarticle ul{
  list-style: none;
  display: inline;
  padding: 0;
  margin: 0;
}

.listarticle li{
  width: 30%;
  margin: 3%;
  margin-left: 0;
  margin-top: 0;
  height: 200px;
  float: left;
  padding: 20px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

.listarticle li h3{
  font-weight: 700;
}
.listarticle li p{
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.listarticle li a{
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
bottom: 15px;
left: 20px;
}


.paging
{
  width: 100%;
  float: left;
  margin-bottom: 10px;
  padding-top: 20px;
  border-top: 1px solid #DDDDDD;
}

.paging ul, .paging li
{
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.paging li a
{
  float: left;
  text-decoration: none;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  padding: 5px 10px;
  margin-right:2px;
  color: #666666;
  font-size: 12px;
}

.paging li a:hover, .paging li.active a
{
  background: #DDDDDD;
  color: #000000;
}

.tag{
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  padding: 0 0;
  color: #999999;
  font-size: 14px;
}

.long_text{
  width: 100%;
  float: left;
  margin: 20px 0;
}

.long_text p {
  font-size: 14px;
  line-height: 24px;
  color: #666666;
}

/* Added by Handri Pangestiaji 19 November 2014 */
.red {
	background: #a50034;
}

.blue {
	background: #003da5;
}

.blue_light{
    background: #073da6;    
}

.purple {
	background: #850aa0;
}

.brown {
	background: #cc8a00;
}

.darkbrown {
	background: #8b4720;
}

.darkbrown_light {
	background: #985b2f;
}

.green {
	background: #64a70b;
}

.edge_red {
	background: url(../images/edge-red.png) no-repeat top right;
}

.edge_blue {
	background: url(../images/edge-blue.png) no-repeat top right;
}

.edge_purple {
	background: url(../images/edge-purple.png) no-repeat top right;
}

.edge_brown {
	background: url(../images/edge-brown.png) no-repeat top right;
}

.edge_darkbrown {
	background: url(../images/edge-brown-2.png) no-repeat top right;
}

.edge_green {
	background: url(../images/edge-green.png) no-repeat top right;
}

.h200 {
	height: 200px;
}

p.small {
	font-size: 10px;
	line-height: 14px;
}

p.visitorname {
	font-size: 16px;
	font-weight: bold;
}

.inv-btn{
	float: right;
}

/* added by Handri Pangestiaji 18 Desember 2014 */

.boxes-view > .header .main-banner img {
  width: 100%;
}
.boxes-view > .header .content {
  padding: 20px;
  color: #fff;
}
.boxes-view > .header .content h3 {
  font-size: 1.7em;
}
.boxes-view > .header .content ul {
  padding: 0;
}
.boxes-view > .header .content li {
  padding-bottom: 5px;
  list-style: none;
}
.boxes-view > .header .content li a {
  padding-left: 15px;
  background: url(../images/li-arrow.png) 0 center no-repeat;
  color: #fff;
  font-size: 1.1em;
}
.boxes-view > .header .content li a:hover {
  text-decoration: underline;
}
.boxes-view > .heading {
  border-bottom: 1px solid #e6e6e6;
  /*margin-bottom: 20px;*/
  margin-bottom: 5px;
}
.boxes-view > .heading .hotline {
  display: block;
  color: #666;
  font-size: 13px;
  margin-bottom: 20px;
}
.boxes-view > .heading h1 a {
  color: #003781;
}
.boxes-view > .heading h1 a:hover {
  color: #0058ce;
}
.boxes-view #quicklinks form {
  width: 250px;
  margin: 0 auto;
}
.boxes-view #quicklinks .input-group {
  display: block;
  margin-bottom: 20px;
}
.boxes-view #quicklinks .input-group input[type="text"] {
  width: 250px;
  padding: 8px 10px;
  border: none;
}
.boxes-view #quicklinks .input-group input[type="submit"] {
  border: none;
  background: #004db4;
  padding: 5px 20px;
  color: #fff;
}
.boxes-view #quicklinks .input-group input[type="submit"]:hover {
  background: #0062e7;
}
.boxes-view #quicklinks .tab-content ul {
  padding: 0 20px;
}
.boxes-view #quicklinks .tab-content ul.nav {
  padding: 0;
}
.boxes-view #quicklinks .tab-content ul.nav li {
  list-style: none;
  padding-bottom: 1px;
}
.boxes-view #quicklinks .tab-content ul.nav li a {
  display: block;
  color: #fff;
  background: transparent url('../images/ic_buttons.png') -263px -206px no-repeat;
  padding: 5px 10px 5px 30px;
}
.boxes-view #quicklinks .tab-content ul.nav li a:hover {
  background-color: #004db4;
  text-decoration: none;
}
.boxes-view .item #quicklinks {
  width: 304px;
  height: 290px;
  float: none;
}
.boxes-view .item #quicklinks h3 {
  color: #fff;
}
.boxes-view .square-blue {
  background-image: url(../images/square-blue.png);
}
.boxes-view .square-blue-dark {
  background-image: url(../images/square-blue-dark.png);
}
.boxes-view .square-green {
  background-image: url(../images/square-green.png);
}
.boxes-view .square-red {
  background-image: url(../images/square-red.png);
}
.boxes-view .square-purple {
  background-image: url(../images/square-purple.png);
}
.boxes-view .square-yellow {
  background-image: url(../images/square-yellow.png);
}
.boxes-view .square-orange {
  background-image: url(../images/square-orange.png);
}
.boxes-view .items-container {
  text-align: center;
  width: 320px;
  margin: 0 auto 10px;
}
.boxes-view .items-container .item {
  width: 306px;
  background: #fff;
  display: inline-block;
  border: 1px solid #fff;
  margin: 10px;
  text-align: left;
  overflow: hidden;
}
.boxes-view .items-container .item .heading
{
padding: 10px 15px;
  height: 55px;

}
.boxes-view .items-container .item .description {
  padding: 10px 15px;
  /*height: 55px;*/
}
.boxes-view .items-container .item .description {
  font-size: 14px;
  line-height: 20px;
  /*color: #666;*/
  color: #000;
}
.boxes-view .items-container .item .description p:first-child {
  margin-top: 0;
}
.boxes-view .items-container .item h2 {
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 1em;
  font-weight: bold;
  display: inline-block;
  max-width: 200px;
  line-height: 1.2em;
}
.boxes-view .items-container .item h3 {
  font-weight: bold;
  margin-top: 10px;
  color: #003781;
}
.boxes-view .items-container .item .heading .btn-group {
  display: inline-block;
  text-align: right;
  float: right;
  /* visibility: visible; */
}
.boxes-view .items-container .item .heading .btn-group a {
  display: inline-block;
  font-size: 20px;
}
.boxes-view .items-container .item .heading .more {
  font-size: 12px;
  font-weight: bold;
  float: right;
  margin-top: 4px;
}
.boxes-view .items-container .item .heading .more:hover {
  color: #000;
}
.boxes-view .items-container .item .thumbnail {
  position: relative;
  color: #fff;
  display: block;
}
.boxes-view .items-container .item .thumbnail ul {
  position: absolute;
  bottom: 30px;
  left: 24px;
  background-position: right bottom;
  background-repeat: no-repeat;
  margin: 0;
  padding: 20px 15px;
  width: 260px;
}
.boxes-view .items-container .item .thumbnail ul li {
  list-style-type: square;
  display: list-item;
  list-style-position: inside;
  padding-left: 10px;
  font-size: 13px;
  padding-bottom: 5px;
}
.boxes-view .items-container .item .thumbnail ul li.title {
  list-style: none;
  font-weight: bold;
}
.boxes-view .items-container .item .thumbnail ul li.desc {
  list-style: none;
}
.boxes-view .items-container .item .thumbnail.thumbnail-popup {
  background: url(../images/loop.png) center center no-repeat;
}
.boxes-view .items-container .item .thumbnail.thumbnail-popup img {
  opacity: 0.5;
}
.boxes-view .items-container .item:hover {
  /*border-color: #ccc;*/
}
.boxes-view .items-container .item:hover .description {
  /*color: #333;*/
  color: #000;
}
.boxes-view .items-container#product-sub .item .thumbnail ul {
  left: auto;
  bottom: auto;
  right: 20px;
  top: 20px;
  width: 180px;
}


.boxes-view h2  a{
	color: #000;
}
.boxes-view .item#item-unggul{
  height: 450px;
}
.boxes-view .item#item-detail{
  height: 920px;
}
.boxes-view .item#item-brosur{
  height: 450px;
}
.boxes-view .item#item-claim {
  height: 450px;
}
.boxes-view .item#item-faq {
  height: 450px;
}
.boxes-view .item#item-left {
  height: 500px;
}

.boxes-view .item#item-left-high {
  height: 1020px;
}

.boxes-view .item#item-center-small {
  height: 500px;
}
.boxes-view .item#item-center {
  height: 1020px;
}

#item-contact {
  height: 1026px;
}
.boxes-view .item#item-right {
  height: 500px;
}

.boxes-view .item#item-right-high {
  height: 1020px;
}

.boxes-view .item#item-faq .square-green {
  background-color: #007a53;
}
.boxes-view .item#item-faq .square-red {
  background-color: #ce0037;
}
.boxes-view .item#item-faq .square-purple {
  background-color: #a51890;
}
.boxes-view .item#item-faq .square-yellow {
  background-color: #f2a900;
}
.boxes-view .item#item-faq .square-blue {
  background-color: #0077c8;
}
.boxes-view .item#item-faq .question {
  padding: 20px;
  font-size: 30px;
  color: #fff;
}
.boxes-view .item .flex-control-nav {
  bottom: 10px;
}
.boxes-view .item .flex-direction-nav {
  display: none !important;
}
.boxes-view .item .slides p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 1em;
}
.boxes-view .item#item-contact h4 {
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
.boxes-view .item#item-contact .contact-us-list {
  margin: 0;
  padding: 0;
}
.boxes-view .item#item-contact .contact-us-list li {
  list-style: none;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 18px 0 15px;
}
.boxes-view .item#item-contact .contact-us-list a {
  color: #003781;
  display: block;
  padding-left: 30px;
  margin-top: -27px;
}
.boxes-view .item#item-contact .contact-us-list a span {
  display: block;
  font-size: 12px;
  line-height: 14px;
  color: #666;
}

.boxes-view .item#item-contact .contact-us-list a:hover {
  color: #0062e7;
}
.boxes-view .item#item-contact .contact-us-list a:hover span {
  color: #000;
}
.boxes-view .item#item-contact .contact-us-list i {
  width: 30px;
  font-size: 20px;
  text-align: center;
}
@media (min-width: 620px) {
  .boxes-view > .heading .hotline {
    float: right;
    display: inline-block;
    margin-bottom: 0;
	text-align: right;
    /* margin-top: 24px; */
  }
  .boxes-view > .heading h1 {
    float: left;
  }
  .boxes-view .items-container {
    width: 660px;
  }
  
}

@media only screen and (max-width: 768px) and (min-width: 620px){
  .boxes-view .items-container .item_visimisi{
    width: 647px !important;
  }
  .breadcrumb2{
    font-size: 20px;
    max-width: 100%;
  }
  #quicklinks{
    margin-top: 10px;
  }
  #quicklinks.quicklinksNews{
    margin-top: 60px;
  }
  .boxes-view .items-container .item .ipNewsList .description{
    width: 100%;
  }
  .combo_year{
    margin: 0px;
  }
  #membername{
    display: none;
  }
  
  div.float_tujuan_finansial{
    width: 550px;
  }
  div.radio_tujuan_finansial{
    width: 15px;
  }
  
}

.breadcrumb {
	/*font-size: 2em;*/
	font-size: 24px;
	font-weight:bold;
}
.breadcrumb a {
	color: #414141;
        cursor: default;
}

@media (min-width: 960px) {
  .modal-body form {
    padding: 20px 120px;
  }
  .modal-body form .form-group {
    overflow: hidden;
  }
  .modal-body form label {
    float: left;
    width: 150px;
  }
  .modal-body form .form-control {
    width: 400px;
  }
  .modal-body form .btn {
    margin-left: 150px;
  }
  .boxes-view > .header {
    margin-bottom: 20px;
  }
  .boxes-view > .header .main-banner {
    width: 635px;
    height: 280px;
    overflow: hidden;
    display: block;
    float: left;
  }
  .boxes-view > .header .main-banner img {
    width: 100%;
  }
  .boxes-view > .header .square {
    float: right;
    width: 310px;
    height: 280px;
    background-color: transparent;
    /*background-position: right bottom;*/
  }
  .boxes-view > .header .content {
    padding: 20px 30px;
    color: #fff;
  }
  .boxes-view > .header .content ul {
    padding: 0;
  }
  .boxes-view > .header .content li {
    padding-bottom: 5px;
    list-style: none;
  }
  .boxes-view > .header .content li a {
    padding-left: 25px;
    /*background: url(../images/arrow_oval.png) 0 center no-repeat;*/
    background: transparent url('../images/ic_buttons.png') -263px -206px no-repeat;
    color: #fff;
  }
  .boxes-view > .header .content li a:hover {
    text-decoration: underline;
  }
  .boxes-view .items-container {
    width: auto;
    margin: 0 -10px 10px;
  }
  .boxes-view .items-container .item .heading .btn-group {
    /* visibility: hidden; */
  }
  .boxes-view .items-container .item .thumbnail.thumbnail-popup img {
    opacity: 1;
  }
  .boxes-view .items-container .item:hover .heading .btn-group {
    visibility: visible;
  }
  .boxes-view .items-container .item:hover .heading .btn-group a {
    opacity: 0.6;
  }
  .boxes-view .items-container .item:hover .heading .btn-group a:hover {
    opacity: 1;
  }
  .boxes-view .items-container .item:hover .thumbnail.thumbnail-popup img {
    opacity: 0.5;
  }
  #map-shortcut {
    float: right;
    width: 292px;
    height: 270px;
/*    margin-top: 32px;*/
    margin-top: 8px;  
  }
   #map-shortcut li a {
    font-size: 13px;
  }
  
  /* Sticky */
  
  .nav-sticky {  
    position: fixed;  
	top: 0;
    z-index: 100;  
    border-top: 0;  
    -webkit-backface-visibility: hidden;  
}  

.pagenav {
	width: 960px;
	height: 80px;
	z-index: 200; 
	background: #F5F6F6;
}
 /* Sticky */
 
}

/* Added by Akbar Fachriansyah */

@media only screen and (max-width : 639px){
    
.description iframe {
    width: 100%;  
    height: auto;
}
}

@media only screen and (max-width : 640px){

	/* Sticky */
  
  .nav-sticky {  
	width: 281px;
    position: fixed;  
	top: 0;
    z-index: 100;  
    border-top: 0;  
	-webkit-backface-visibility: hidden;	
}  

.pagenav {
	width: 281px; 
    /*width: 302px;*/
	height: 80px;
	z-index: 200; 
	background: #F5F6F6;
}
 /* Sticky */
    

.description table {
    width: 100% !important;
}    

}

@media only screen and (max-width : 800px) and (min-width: 480px) {

	/* Sticky */
  
  .nav-sticky {  
	width: 94% !important;
    position: fixed;  
	top: 0;
    z-index: 100;  
    border-top: 0;  
	-webkit-backface-visibility: hidden;	
}  

.pagenav {
	width: 100%; 
    /*width: 302px;*/
	height: 80px;
	z-index: 200; 
	background: #F5F6F6;
}
 /* Sticky */
    
.description table {
    width: 100% !important;
}    

}


/* ================================================================ */

